:root {
    --primary-color: rgba(255,255,255,255);
     --secondary-color:rgba(240,245,249,255);
     --test-color:black; 
 
 
 }
 
 .dark-theme{
     --primary-color: #1e293b;
     --secondary-color:#0f172a;
     --test-color:white;
 }


 #icon {
    width: 30px;
    cursor:pointer;
}